<div class="grid grid-cols-2 gap-8">
    <div>
        <dl class="divide-y divide-gray-100">
            <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
                <dt class="text-sm/6 font-medium text-gray-900">Telefon</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {% for phone in SITE_DATA.contact.phones %}
                    {{ phone }} <br />
                    {% endfor %}
                </dd>
            </div>
            <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
                <dt class="text-sm/6 font-medium text-gray-900">Email</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {% for email in SITE_DATA.contact.emails %}
                    {{ email }} <br />
                    {% endfor %}
                </dd>
            </div>
            <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
                <dt class="text-sm/6 font-medium text-gray-900">Adres</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ SITE_DATA.contact.address.street }} <br />
                    {{ SITE_DATA.contact.address.po_code }} {{ SITE_DATA.contact.address.city }}
                </dd>
            </div>
        </dl>
    </div>
    <div>
        <iframe class="w-full h-290 aspect-video"
            src="https://www.openstreetmap.org/export/embed.html?bbox=20.95437437295914%2C53.865341577751046%2C20.957576930522922%2C53.86680933103222&amp;layer=cyclemap&amp;marker=53.866075460828874%2C20.955975651741028"></iframe>
    </div>
</div>