{% set page_categories = {} %}

{% for page in pages %}
    {% set category = page.metadata.category %}

    {% if category not in page_categories %}
        {% set _ = page_categories.update({category: [page]}) %}
    {% else %}
        {% set _ = page_categories[category].append(page) %}
    {% endif %}
{% endfor %}

<footer class="bg-blue-600 text-white">
    <div class="mx-auto max-w-7xl px-6 pt-20 pb-20 sm:pt-24 sm:pb-24 lg:px-8 lg:pt-32">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="grid gap-8 xl:col-span-2">
                <div class="md:grid md:grid-cols-3 md:gap-8">
                    {% for category, category_pages in page_categories.items() %}
                    <div>
                        <h3 class="text-xl font-semibold text-gray-200">{{ category }}</h3>
                        <ul role="list" class="mt-6 space-y-4">
                            {% for page in category_pages %}
                            <li>
                                <a href="{{ SITEURL}}/{{ page.url }}" class="text-sm text-white hover:underline">{{ page.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>


            </div>
            <div class="mt-10 xl:mt-0">
                <h3 class="text-xl font-semibold text-gray-200">Prawa Autorskie</h3>
                <p class="mt-2 text-white">&copy; {{SITE_DATA.year}} Niepubliczna Przychodnia Rodzinna Eskulap</p>
                <h3 class="text-xl font-semibold text-gray-200 pt-10">Wykonanie</h3>
                <p class="mt-2 text-white">Wykonane przez <a class="hover:underline font-bold" href="https://inperium.eu">INPERIUM</a>.</p>
            </div>
        </div>
    </div>
</footer>