<section class="relative isolate px-6 py-24 sm:py-32 lg:px-8 mb-20">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <figure class="mt-10">
            <blockquote class="text-center text-xl leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                <p>“{{ SITE_DATA.home.testimony.quote }}”</p>
            </blockquote>
            <figcaption class="mt-10">
                <img class="mx-auto h-10 w-10 rounded-full"
                    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ SITE_DATA.home.testimony.avatar }}"
                    alt="">
                <div class="mt-4 items-center text-center text-base">
                    <div class="font-semibold text-gray-900">{{ SITE_DATA.home.testimony.name }}</div>
                    <div class="text-sm text-gray-900">{{ SITE_DATA.home.testimony.title }}</div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>