{% extends "base.html" %}

{% block content %}
    <div class="mx-auto mb-20 max-w-7xl pl-6 pr-6 lg:px-8">
        <div class="mx-auto max-w-4xl lg:mx-0 mt-20">
            <h2 class="mt-2 text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">{{ page.title }}</h2>
            <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">{{ page.summary | striptags }}.</p>
        </div>
        <div class="prose max-w-7xl mx-auto mt-20 p-8 bg-white rounded-3xl text-justify text-lg">
            {{ page.content }}
        </div>
    </div>
{% endblock %}